{
  "extends": [
    "wesbos", 
    "plugin:@next/next/recommended"
  ],
  "settings": { 
    "import/resolver": {
      "alias": {
        "map": [
          ["features", "./features"],
          ["middleware", "./middleware"],
          ["models", "./models"],
          ["utils", "./utils"]
        ]
      }
    }
  }
}